aws_region   = ""
project_name = ""
image_url    = ""

# VPC Configuration
vpc_cidr = ""
# azs = []  # Optional - leave empty to auto-detect AZs

# Database Configuration
db_username = ""
db_password = ""

# GitHub Configuration
github_owner  = ""
github_repo   = ""
github_branch = ""
